:host {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
  }
  table {
    width: 100%;
    margin-top: 25px;
  }
}
